*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    background-color: red;
    width: 100%;
    height: 600px;
}

.left {
    position: absolute;
    width: 550px;
    height: 540px;
    background-color:lightskyblue;
    left: 30px;
    top: 10px;
}

.left .p1 {
    width: 500px;
    ;
    background-color: black;
    margin-right: 25px;
    margin-left: 25px;

}

.right {
    position: absolute;
    width: 660px;
    height: 480px;
    background-color: gray;
    right: 30px;
    top: 50px;
}