.banner {
    background-color: #333333;
}

.head {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    color: #ffcc33;
}

#topbanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1px;
}

.list {
    font-family: 'Tilt Warp', cursive;
}

#ban0 {
    width: auto;
    padding: 5px;
}
    #ban1 {
        width: auto;
        padding: 5px;
    }
        #ban2 {
            width: auto;
            padding: 5px;
        }
            #ban3 {
                width: auto;
                padding: 5px;
            }
                #ban4 {
                    width: auto;
                    padding: 5px;
                }


.pp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10%;
}

.container {
    display: flex;
    justify-content: center;
}
    #sect0 {
        width: 300px;
        float: left;
        margin-right: 50px;
    }
        #sect1 {
            width: 300px;
            float: right;
            margin-left: 50px;
        }

    #sect2 {
        width: 300px;
        float: left;
        top: 60%;
        margin-right: 50px;
        }
        #sect3 {
            width: 300px;
            float: right;
            top:60%;
            margin-left: 50px;
        }

    #sect4 {
        width: 300px;
        float: left;
        top: 75%;
        margin-right: 50px;
        }
        #sect5 {
            width: 300px;
            float: right;
            top:75%;
            margin-left: 50px;
        }

/* contact page */

.otherheads {
    font-family: 'Tilt Warp', cursive;
    color: black;
}

#pp1 {
    margin-left: 0;
}
