* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: auto;
  height: 50px;
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
.r-hidden{
  display: none;
}

.all-icons{
  margin-right: 10%;
}

.left{
  display: flex;
  justify-self: start;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family:sans-serif;
  color: inherit;
}
.left .img{
  width: 112px;
  height: 28px;
}
.left .hidden-sear{
  display: none;
}
.left .left-icons{
  display: flex;
  align-items: center;
  margin: 3%;
}

.right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-family:sans-serif;
}
.right .right-icons{
  margin: 3%;
}
.right .btn{
  font-size: 17px;
}
.right #down{
  display: flex;
  align-items: center;
  background-color: #00D1B2;
  color: white;
  border-radius: 5px;
  padding: 2.5% 5% 2.5% 2.5%;
  margin-right: -1%;
}
.right #spon{
  display: flex;
  align-items: center;
  background-color:#FDEDF6;
  color: #EA4AAA;
  border-radius: 5px;
  padding: 2.5% 5% 2.5% 2.5%;
}

.search{
  background-color: #f5f5f5;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 2.5%;
  margin-right: 45%;
  border-radius: 9999px;
}
.search .input{
  background-color: #f5f5f5;
  font-size: 15px;
}

@media screen and (min-width: 1101px) and (max-width: 1210px) {
  .right .all-icons{
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .left .hidden-sear{
    display: block;
    margin: 3.5%;
  }

  .right .search{
    display: none;
  }
  .right .btn-texts{
    display: none;
  }
  .right .ico{
    margin: 7%;
  }
  .right #down{
    display: none;
  }
  .right #spon{
    padding: 15px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 720px) {
    .left .left-icons{
      display: none;
    }
    .left .hidden-sear{
      display: none;
    }
    
    .right #spon .btn-texts{
      display: inline-block;
    }
    .right #spon{
      background-color: white;
      border: solid 1px #EA4AAA;
    }

    .r-hidden{
      display: flex;
      align-items: center;
      font-size: 20px;
    }
    .r-hidden .hidden-btn{
      padding: 15px;
    }
    .hidden-btn:hover{
      background-color: #F2F2F2;
      border-radius: 5px;
    }
  }