.header {
    position: fixed;
    width: auto;
    height: auto;
    background-color:brown;
    z-index: 20;
    margin-bottom: 20px;
}

#b1 {
    position: relative;
    height: 1000px;
    margin-top: 50px;
    width: auto;
    border: 10px dashed chocolate;
    border-radius: 10px;
    background-color: darkcyan;
    margin: 10px 0px 10px 0px;
    /* margin: 10px 0px; */
    
    padding: 20px 10px 20px 10px;
    z-index: 1;
}

#b2 {
    position: relative;
    height: 400px;
    width: 300px;
    top: 50px;
    left: 100px;
    background-color: burlywood;
    border: 10px dashed chocolate;
    border-radius: 10px;
}

#b3 {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 100px;
    height: 50px;
    background-color: darkgreen;
    border: 10px dashed chocolate;
    border-radius: 10px;
    margin: 0;
}

#h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: aliceblue;
    z-index: 10;
}

.footer {
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: aliceblue;
    z-index: 10;
}

.menu {
    position: sticky;
    background-color: darkgoldenrod;
    height: 50px;
    top: 0px;
    width: 100%;
    z-index: 15px;
}